<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DASHBOARD</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:700'><link rel="stylesheet" href="../../public/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="share">
  <span>Dashboard</span>
  <nav>
    <a href="usersSession.php"><i class="fa fa-user-secret"></i></a>   
    <a href="#"><i class="fa fa-user"></i></a>
    <a href="#"><i class="fa fa-plus"></i></a>
    <a href="#"><i class="fa fa-database"></i></a>
    <a href="#" onclick="goToHome()" ><i class="fa fa-sign-out"></i></a>
    <a href="#"><i class="fa-id-badge"></i></a>
  </nav>
</div>
<!-- partial -->
  <script  src="../../public/js/script.js"></script>

</body>
</html>
